</main>

<!-- footer here -->
<footer>
    <p>Copyright By Rudra P Patel</p>

    <div class="darbut">
        <button onclick="myFunction()" class="darkmode">🌙</button>
    </div>
</footer>
<script>
    function myFunction(){
        document.body.classList.toggle("darkforbody");
        document.querySelector("main h1").classList.toggle("darkforh1");
        document.querySelector("form input").classList.toggle("darkforinput");
        document.querySelector(".output_box").classList.toggle("darkforoutput_box");
    }
</script>
</body>
</html>